<ol>
  <li>Azua</li>
  <li>Bahoruco</li>
  <li>Barahona</li>
  <li>Dajabón</li>
  <li>Distrito Nacional</li>
  <li>Duarte</li>
  <li>Elías Piña</li>
  <li>El Seibo</li>
  <li>Espaillat</li>
  <li>Hato Mayor</li>
  <li>Hermanas Mirabal</li>
  <li>Independencia</li>
  <li>La Altagracia</li>
  <li>La Romana</li>
  <li>La Vega</li>
  <li>María Trinidad Sánchez</li>
  <li>Monseñor Nouel</li>
  <li>Monte Cristi</li>
  <li>Monte Plata</li>
  <li>Pedernales</li>
  <li>Peravia</li>
  <li>Puerto Plata</li>
  <li>Samaná</li>
  <li>Sánchez Ramírez</li>
  <li>San Cristóbal</li>
  <li>San José de Ocoa</li>
  <li>San Juan</li>
  <li>San Pedro de Macorís</li>
  <li>Santiago</li>
  <li>Santiago Rodríguez</li>
  <li>Valverde</li>
</ol>