<h1>Dominican Republic</h1>
<ol>
  <li><a href="https://es.wikipedia.org/wiki/Azua">Azua</a></li>
  <li><a href="https://es.wikipedia.org/wiki/Bahoruco">Bahoruco</a></li>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Barahona">Barahona</a></li>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Dajab%C3%B3n">Dajabón</a></li>
  <li><a href="https://es.wikipedia.org/wiki/Santo_Domingo">Santo Domingo</a></li>
  <li><a href="https://es.wikipedia.org/wiki/Duarte_(provincia)">Duarte</a></li>
  <li><a href="https://es.wikipedia.org/wiki/El%C3%ADas_Pi%C3%B1a">Elías Piña</a></li>
  <li><a href="https://es.wikipedia.org/wiki/Provincia_de_El_Seibo">El Seibo</a></li>
  <li><a href="">Espaillat</a></li>
  <li><a href="">Hato Mayor</a></li>
  <li><a href="">Hermanas Mirabal</a></li>
  <li><a href="">Independencia</a></li>
  <li><a href="">La Altagracia</a></li>
  <li><a href="">La Romana</a></li>
  <li><a href="">La Vega</a></li>
  <li><a href="">María Trinidad Sánchez</a></li>
  <li><a href="">Monseñor Nouel</a></li>
  <li><a href="">Monte Cristi</a></li>
  <li><a href="">Monte Plata</a></li>
  <li><a href="">Pedernales</a></li>
  <li><a href="">Peravia</a></li>
  <li><a href="">Puerto Plata</a></li>
  <li><a href="">Samaná</a></li>
  <li><a href="">Sánchez Ramírez</a></li>
  <li><a href="">San Cristóbal</a></li>
  <li><a href="">San José de Ocoa</a></li>
  <li><a href="">San Juan</a></li>
  <li><a href="">San Pedro de Macorís</a></li>
  <li><a href="">Santiago</a></li>
  <li><a href="">Santiago Rodríguez</a></li>
  <li><a href="">Valverde</a></li>
</ol>